.footer {
  padding-bottom: 30px;
  &__wrapper {
    align-items: center;
    margin-top: 78px;
    padding: 15px;
    background-color: #E7F1FC;
    border-radius: 20px;
  }
  &__logo,
  &__links,
  &__control {
    margin-top: 6px;
  }
  &__links > ul {
    gap: 80px;
    li > a {
      font-size: 15px;
      color: #101729;
      opacity: 0.5;
      border-bottom: 2px solid transparent;
      transition: ease-out .7s;
      &:hover {
        transition: .5s;
        border-bottom: 2px solid $accent-color;
      }
    }
  }
  &__control {
    margin-bottom: 6px;
    gap: 24px;
    a {
      padding: 14px 28px;
      background: $accent-gradient;
      border-radius: 20px;
      color: #ffffff;
      transition: ease-out .7s;
      &:hover {
        transition: .5s;
        box-shadow: 7px 7px 14px -4px rgba(0,0,0,0.74);
      }
    }
  }
}