
$accent-gradient: linear-gradient(108.34deg, #17C2ED 4.55%, #1C7DD7 95.45%);
$accent-color: #17C1ED;
$text-color: #101729;
$opacity-text: 0.5;

$font-section-title: 55px;
$font-regular-title: 45px;
$font-sub: 30px;
$font-text: 25px;
$font-links: 15px;

$font-sm: 500;
$font-md: 600;
